@import url("./__photo/page__photo.css");
@import url("./__title/page__title.css");
@import url("./__subtitle/page__subtitle.css");
@import url("./__header/page__header.css");

.page {
  font-family: "Jet Brains Mono", Arial, sans-serif;
  max-width: 50rem;
  width: 100%;
  padding: 3rem;
  margin: 0 auto;
}
